<div class="single-poll">
    <div class="create-poll">
        <h2>New Poll</h2>
        <form id = "new-poll" method="post">
            <table id="poll-create-maintable">
                <tr>
                    <td class="col-title">Question</td>
                    <td><input class="original-input" type="text" name="qusetion" required autocomplete="off"/></td>
                </tr>
                <tr>
                    <td class="col-title">Category</td>
                    <td><select class="category-list" name="category-list" style="width:156px;">
                        <option value={{categories}}>
                        </select></td>
                </tr>
                <tr>
                    <td class="col-title">Choice1</td>
                    <td><input class="original-input" type="text" name="choice1" required autocomplete="off"/></td>
                </tr>
                <tr>
                    <td class="col-title">Choice2</td>
                    <td><input class="original-input" type="text" name="choice2" required autocomplete="off"/></td>
                </tr>
                <tr>
                    <td class="col-title">Choice3</td>
                    <td><input class="original-input" type="text" name="choice3" required autocomplete="off"/></td>
                </tr>
                <tr>
                    <td class="col-title">Choice4</td>
                    <td><input class="original-input" type="text" name="choice4" required autocomplete="off"/></td>
                </tr>
            </table>
        </form>
    </div>
    <div id = "new-poll">
		<a href="#" class="linkbutton" onclick="savereg()">Submit</a>
		<a href="#" class="linkbutton" onclick="javascript:$('#dlg').dialog('close')">Cancel</a>
    </div>
</div>